* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: dela;
    src: url(./src/fonts/dela_regular.ttf);
}

@font-face {
    font-family: mont;
    src: url(./src/fonts/mont.ttf);
}

body {
    background-color: #F6F5F4;

    display: grid;
    justify-content: center;

}

a {
    text-decoration: none;
}

#nav_box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1180px;
    height: 40px;

    padding-top: 24px;
    padding-bottom: 24px;

    margin-top: 24px;
}

hr {
    margin-top: 24px;
}

.vector1 {
    width: 0px;
    height: 16.87px;
    border: 1.20466px solid #E0E0E0;
}

#nav_box_container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 540px;
    height: 22px;
}

ul li {
    display: inline;

}

#nav_box_container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 197px;
    height: 40px;
}

#section1 {
    width: 1180px;
    height: 84px;

    margin-top: 40px;


    background: #FFFFFF;
    border-radius: 14px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#section2 {
    width: 830px;
    height: 40px;

    margin-top: 40px;

    display: flex;
    justify-content: space-between;

}

#section3 {
    width: 926px;
    height: 336px;
    background: #FFFFFF;
    box-shadow: 0px 22.8981px 45.7963px -11.4491px rgba(52, 41, 39, 0.08);
    border-radius: 14px;

    margin-top: 40px;
    margin-bottom: 40px;
}

#pages {
    width: 864px;
    height: 44px;


    margin-bottom: 140px;

    display: flex;
    justify-content: center;
}

.pages_container {
    display: flex;
    justify-content: space-around;

    width: 567px;
    height: 44px;
}

.circle {
    background-color: transparent;
    border: 3px solid #2B788B;
    height: 44px;
    border-radius: 100%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 45px;

    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #5996A5;
    font-family: mont;
}

.dot {
    font-family: mont;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    display: flex;
    align-items: flex-end;
    color: #757575;
}

.footer {
    background-color: #F6F5F4;
    padding-bottom: 40px;
}

hr {
    color: solid #E0E0E0;
    margin-top: 20px;

    border: 1.20466px solid #E0E0E0;

}

footer>.ftr_maindiv1 {
    display: flex;
    justify-content: space-between;
}

.ftr_maindiv2 {
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
}

.icon_box {
    display: flex;
    justify-content: space-between;
    width: 150px;
    display: flex;
}

.copyright>span {
    font-family: mont;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    color: #757575;

}

.ftr_div1 {
    width: 414px;
    height: 14px;

    display: flex;
    justify-content: space-between;
}

.ftr_div2 {
    width: 197px;
    display: flex;
    justify-content: space-between;
}

.author {
    font-family: mont;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #757575;
}